.buttoncash{
  width: 280px;
  height: 170px;
  font-size: 60px;
  font-weight: bold;
  border: 2px solid gray; 
  margin: 10px;
  cursor: pointer;
  background-color: rgb(255, 215, 39);
  color: black;
  border-color: gray;
  border-style: solid;
  border-width: 4px;
  border-radius: 2px;
  border-radius: 15px;
  transition: background-color 0.25s, color 0.25s;
}

.buttoncash:hover{
    background-color: black;
    color: rgb(255, 215, 39);
}

.buttoncash:active{
    opacity: 0.7;
}