.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top {
    height: 80px;
    color: yellow;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(16, 86, 167);
    margin-bottom: -90px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
  flex: 1;
  background-color: orange; 
  margin-top: 100px;
  margin-right: 50px; 
  margin-bottom: 50px;
  padding: 10px;
}

.middle {
  flex: 3; 
  background-color: orange; 
  margin-top: 100px;
  margin-right: 50px; 
  margin-bottom: 50px;
  padding: 10px;
  flex-wrap: wrap;
}

.right {
  flex: 1; 
  background-color: orange; 
  margin-top: 100px; 
  margin-right: 20px;
  margin-bottom: 50px; 
  padding: 10px;
}

.numButtons{
  background-color: white;
  color: black;
  margin-right: 10px;
}